<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.e.dao.mysql.user.UserAddressDao">
    <!--  新增记录  -->
    <insert id="add" parameterType="com.e.model.user.UserAddress">
        INSERT INTO lx_address(address_id,openid,user_name,phone,address) VALUES (#{address_id},#{openid},#{user_name},#{phone},#{address})
    </insert>
    <delete id="delete" parameterType="java.lang.String">
        DELETE FROM lx_address WHERE address_id=#{address_id} AND openid=#{openid}
    </delete>
    <update id="update" parameterType="com.e.model.user.UserAddress">
        UPDATE lx_address SET user_name=#{user_name},phone=#{phone},address=#{address} WHERE address_id=#{address_id} AND openid=#{openid}
    </update>
    <select id="get" parameterType="java.lang.String" resultType="com.e.model.user.UserAddress">
        SELECT * FROM lx_address WHERE openid=#{openid}
    </select>
    <select id="getTheAddress" parameterType="java.lang.String" resultType="com.e.model.user.UserAddress">
        SELECT * FROM lx_address WHERE openid=#{openid} AND address_id=#{address_id}
    </select>
</mapper>